name: Webapp CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  webapp:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '18'
      - name: Install deps
        working-directory: webapp
        run: |
          npm ci
      - name: Run tests
        working-directory: webapp
        run: |
          npm run test --silent
      - name: Build
        working-directory: webapp
        run: |
          npm run build
